{{ form_start(form) }}
    <div class="card border-0 bg-body-tertiary">
        <div class="card-body">
            {{ form_widget(form) }}
        </div>
    </div>

    <div class="d-flex gap-2 mt-3">
        <button class="btn btn-primary">{{ button_label|default('Сохранить') }}</button>
    </div>
{{ form_end(form) }}