<nav class="navbar navbar-light bg-light border-bottom mb-4">
    <div class="container-fluid fw-bold">
        <a class="navbar-brand" href="{{ path('app_course_index') }}">StudyOn</a>

        <div class="d-flex gap-3">
            <a class="nav-link px-0" href="{{ path('app_course_index') }}">Курсы</a>
            <a class="nav-link px-0" href="{{ path('app_lesson_index') }}">Уроки</a>
            <a class="btn btn-outline-primary btn-sm" href="{{ path('app_course_new') }}">Новый курс</a>
        </div>
    </div>
</nav>